# Ignore virtual environment
venv/

# Ignore .vscode config settings
.vscode/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore data files
data/
*.csv
*.tsv

# Ignore other unnecessary files
.DS_Store
*.log
